<% include index.ejs %>
<button onclick="addObject()">ADD</button>
<div class="tab">

<table class="table">
    <tr>
        <th>customerNumber</th>
        <th>customerName</th>
        <th>contactLastName</th>
        <th>contactFirstName</th>
        <th>addressLine1</th>
        <th>addressLine2</th>
        <th>city</th>
        <th>postalCode</th>
        <th>country</th>
        <th>salesRepEmployeeNumber</th>
        <th>creditLimit</th>
        <th>operation</th>
    </tr>

    <% if(data.length){
    for(var i = 0; i < data.length; i++) { %>
    <tr>
        <th><%= data[i].customerNumber%></th>
        <th><%= data[i].customerName%></th>
        <th><%= data[i].contactLastName%></th>
        <th><%= data[i].contactFirstName%></th>
        <th><%= data[i].addressLine1%></th>
        <th><%= data[i].addressLine2%></th>
        <th><%= data[i].city%></th>
        <th><%= data[i].postalCode%></th>
        <th><%= data[i].country%></th>
        <th><%= data[i].salesRepEmployeeNumber%></th>
        <th><%= data[i].creditLimit%></th>
        <th>
            <button><a href="../customers/delete/<%=data[i].customerNumber%>">delete</a></button>
            <button><a href="../customers/edit/<%=data[i].customerNumber %>">edit</a></button>
        </th>
    </tr>
    <% }

    }else{ %>
    <tr>
        <td colspan="3">No user</td>
    </tr>
    <% } %>
</table>
</div>
